*{
	margin: 0;
	padding: 0;
}

body{
	overflow: auto;
}

.bg{
	padding-top: 1px;
	background-image: url(./bg-cover.jpg);
	background-size: cover;
	background-position: center;
}

.main{
	width: 85vw;
	height: 70vh;
	background-color: #464646;
	justify-content: center;
	align-items: center;
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.inside{
	position: relative;
	display: flex;
	width: 94.9%;
	height: 20%;
	justify-content: center;
	align-items: center;
	margin: 2em 2em 0.3em 2em;
	overflow: hidden;
}

#title_form{
	width: 30vw;
}

.APIRESP{
	width: 95%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 15px;
	text-align: center;
}

.apibtn{
	border: none;
	padding: 2.5px 10px;
	margin-left: 20px;
	border-radius: 5px;
	background-color: #EE6E73;
	color: #fff;
	text-shadow: 2px 1.5px 1px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.apibtn:active{
	background-color: #ec5c62;
}

#anime_name{
	color: white;
}

hr{
	margin-top: 10px;
}

.resp{
	margin-top: 20px;
	font-family: 'Roboto Serif', sans-serif;
	color: #fff;
	display: block;
}

.cover{
	width: 140px;
}
